﻿{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="icon" type="image/png" sizes="32x32" href='{% static "media/icon.png"%}'>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
    {% block content %}{% endblock  %}
</body>
</html>