{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="modal">
        <div class="modal-header">
            <div class="modal-logo">
                <span class="logo-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="419.116" viewBox="0 0 512 419.116">
                        <defs>
                            <clipPath id="clip-folder-new">
                                <rect width="512" height="419.116" />
                            </clipPath>
                        </defs>
                        <g id="folder-new" clip-path="url(#clip-folder-new)">
                            <path id="Union_1" data-name="Union 1" d="M16.991,419.116A16.989,16.989,0,0,1,0,402.125V16.991A16.989,16.989,0,0,1,16.991,0H146.124a17,17,0,0,1,10.342,3.513L227.217,57.77H437.805A16.989,16.989,0,0,1,454.8,74.761v53.244h40.213A16.992,16.992,0,0,1,511.6,148.657L454.966,405.222a17,17,0,0,1-16.6,13.332H410.053v.562ZM63.06,384.573H424.722L473.86,161.988H112.2Z" fill="var(--c-action-primary)" stroke="" stroke-width="1" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>
        <div class="modal-body">
            <h2 class="modal-title">Скиньте ваше фото</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                </input>
                <div class="modal-footer">
                    {% comment %} <button class="btn-secondary">Cancel</button> {% endcomment %}
                    <button type="submit" class="btn-primary">Скинуть</button>
                </div>
            </form>
        </div>
        
    </div>
    <div class="images">
        {% for img in image %}
        <div class="image">
            <img src="{{ img.file.url }}" alt="">
        </div>
        {% endfor %}
        
    </div>
    
{% endblock  %}